<div style="width: 500px; margin-top: 50px; margin-left: 400px;">
  <h1>Sửa khóa học </h1>
  <form method="POST" action="/courses/{{course._id}}/update?_method=PUT">
    <div class="form-group">
      <label for="name">Course Name: </label>
      <input type="text" class="form-control" name="name" value = "{{course.name}}" >
    </div>
    <div class="form-group">
      <label for="description">Description: </label>
      <input type="text" class="form-control" name="description" value = "{{course.description}}">
    </div>
    <div class="form-group">
      <label for="image">Link Image: </label>
      <input type="text" class="form-control" name="image" value = "{{course.image}}">
    </div>
    <div class="form-group">
      <label for="slug">Link Image: </label>
      <input type="text" class="form-control" name="slug" value = "{{course.slug}}">
    </div>
    
    <button type="submit">Lưu lại</button>
  </form>
</div>